<a href="https://colab.research.google.com/github/JARACH-209/AI-ML_Lab/blob/master/ML_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ML Lab 2**
## **Achal Dixit | 1801007**

## **Part 1**

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/wine.csv")

df.head(10)

   Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0     1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065
1     1    13.20        1.78  2.14  ...       4.38  1.05  3.40     1050
2     1    13.16        2.36  2.67  ...       5.68  1.03  3.17     1185
3     1    14.37        1.95  2.50  ...       7.80  0.86  3.45     1480
4     1    13.24        2.59  2.87  ...       4.32  1.04  2.93      735
5     1    14.20        1.76  2.45  ...       6.75  1.05  2.85     1450
6     1    14.39        1.87  2.45  ...       5.25  1.02  3.58     1290
7     1    14.06        2.15  2.61  ...       5.05  1.06  3.58     1295
8     1    14.83        1.64  2.17  ...       5.20  1.08  2.85     1045
9     1    13.86        1.35  2.27  ...       7.22  1.01  3.55     1045

[10 rows x 14 columns]

In [18]:
scores = np.array(df)
np.set_printoptions(suppress="True")
print(scores)

[[   1.     14.23    1.71 ...    1.04    3.92 1065.  ]
 [   1.     13.2     1.78 ...    1.05    3.4  1050.  ]
 [   1.     13.16    2.36 ...    1.03    3.17 1185.  ]
 ...
 [   3.     13.27    4.28 ...    0.59    1.56  835.  ]
 [   3.     13.17    2.59 ...    0.6     1.62  840.  ]
 [   3.     14.13    4.1  ...    0.61    1.6   560.  ]]

In [24]:
mean = np.mean(scores)     #overall mean
med = np.median(scores)
from scipy.stats import mode
print("Mean is ",mean)
print("Median is ",med)

Mean is  64.33398715850723
Median is  2.6
Mode is  [2.]

In [33]:
def modefun(scores):
    mode_info = mode(scores,axis=None)
    print("Mode is ",mode_info[0])
    mode_info = mode(scores,axis=1)
    print("Row wise mode",mode_info[0])
    mode_infor = mode(scores,axis=0)
    print("Column wise mode \n",mode_infor[0])
modefun(scores)

Mode is  [2.]
Row wise mode [[0.28]
 [0.26]
 [0.3 ]
 [0.24]
 [0.39]
 [0.34]
 [0.3 ]
 [0.31]
 [0.29]
 [0.22]
 [0.22]
 [0.26]
 [0.29]
 [0.43]
 [0.29]
 [0.3 ]
 [0.33]
 [0.4 ]
 [0.32]
 [0.17]
 [0.24]
 [2.41]
 [0.27]
 [0.26]
 [2.61]
 [0.47]
 [0.34]
 [0.27]
 [0.37]
 [0.26]
 [0.29]
 [0.22]
 [0.42]
 [0.5 ]
 [0.29]
 [0.26]
 [0.34]
 [0.29]
 [0.28]
 [0.2 ]
 [0.34]
 [0.27]
 [3.56]
 [0.32]
 [3.  ]
 [0.3 ]
 [0.27]
 [0.21]
 [2.75]
 [0.32]
 [2.91]
 [0.22]
 [0.32]
 [0.39]
 [0.21]
 [0.2 ]
 [0.26]
 [0.31]
 [0.19]
 [0.28]
 [0.41]
 [2.02]
 [0.32]
 [0.19]
 [1.45]
 [0.37]
 [3.18]
 [2.  ]
 [0.42]
 [1.28]
 [0.37]
 [0.21]
 [0.27]
 [0.21]
 [0.13]
 [0.34]
 [0.24]
 [0.43]
 [0.35]
 [0.43]
 [2.  ]
 [2.2 ]
 [2.  ]
 [0.61]
 [0.22]
 [0.3 ]
 [0.43]
 [0.4 ]
 [0.48]
 [0.42]
 [0.52]
 [0.5 ]
 [0.58]
 [0.25]
 [0.17]
 [0.32]
 [0.14]
 [0.29]
 [0.24]
 [0.45]
 [0.26]
 [0.29]
 [0.34]
 [0.37]
 [0.32]
 [0.66]
 [0.37]
 [0.48]
 [0.39]
 [0.29]
 [0.24]
 [2.  ]
 [0.6 ]
 [0.42]
 [0.43]
 [0.52]
 [0.3 ]
 [1.61]
 [0.43]
 [2.  ]
 [0.32]
 [0.47]
 [0.43]
 [0.3 ]
 [0.21]
 [0.37]
 [0.39]
 [2.13]
 [0.4 ]
 [0.42]
 [0.21]
 [0.24]
 [0.27]
 [0.17]
 [0.58]
 [0.63]
 [0.47]
 [0.6 ]
 [0.48]
 [0.53]
 [0.5 ]
 [0.37]
 [0.5 ]
 [0.47]
 [0.29]
 [0.43]
 [0.34]
 [0.47]
 [0.45]
 [0.34]
 [0.22]
 [0.24]
 [0.26]
 [0.56]
 [0.58]
 [0.6 ]
 [0.48]
 [0.58]
 [2.7 ]
 [0.52]
 [0.5 ]
 [0.5 ]
 [0.6 ]
 [0.4 ]
 [0.41]
 [0.47]
 [0.43]
 [0.4 ]
 [0.39]
 [0.27]
 [0.4 ]
 [0.48]
 [0.44]
 [0.52]
 [0.43]
 [0.43]
 [0.53]
 [0.56]]
Column wise mode
 [[  2.    12.37   1.73   2.28  20.    88.     2.2    2.65   0.26   1.35
    2.6    1.04   2.87 520.  ]]

In [31]:
def dev(scores):
    stan = np.std(scores,axis=None)
    stan_row = np.std(scores, axis =1)
    stan_col = np.std(scores,axis=0)
    print("Standard Deviation \n",stan,"\nStandard Deviation row wise \n",stan_row,"\nStandard Deviation Column wise\n",stan_col)
dev(scores)

Standard Deviation
 208.61735837075227
Standard Deviation row wise
 [272.55228405 268.70559608 303.10665268 378.81001887 188.17135148
 371.19325702 330.17447004 331.44017301 267.29937913 267.22795575
 386.57283893 327.6191023  337.88934242 294.23431172 396.14504883
 335.23213606 327.5039538  289.03391253 430.22213098 216.23490282
 199.81955401 196.84977416 264.73135209 259.60233826 215.98563943
 212.4175103  305.78171801 328.94786326 233.95316003 264.72121524
 328.72666127 387.85388466 253.22526155 316.08254821 280.14150957
 235.17148708 225.16030552 282.70342998 260.9657227  194.79460895
 203.45974087 264.65517093 280.0907299  173.94259179 226.34901661
 276.21096507 272.3470847  251.87147374 271.05315038 322.33303843
 294.23693423 323.69762992 304.46018158 351.93182862 271.23081819
 286.47585512 248.15289626 324.98622963 328.81192022 133.32707272
 174.11304553 115.72010442 161.15119518 107.59680936  92.1801039
 173.38506041 128.20341209 130.25795887 192.05600886 184.94655902
 222.58403505 104.95681885 120.7551592  252.07198546 226.55449876
 110.12707794 100.64100955 128.72381577 192.61434615 118.81307446
  72.22082027 182.41441599 160.87670636 131.57531055 133.18318835
 115.66535319 126.71905525 143.62640429 173.73254449 159.53209428
 122.76949137 115.22113929 126.52491413  75.2279733   89.35205776
 240.5585043  160.90118739 109.67696772 168.60494028 104.10069615
 181.59475982 143.7789498  112.52418784 106.44322288 171.68479188
  81.49387073 130.3198385  124.78410052  80.90692597 173.81769335
 144.0428371   83.90293183 155.41130731 111.25906571  98.72555072
 104.3243267  126.6641627   89.88459958  95.42812793 144.21087508
 159.81643044 119.82841386  94.3609022   97.41530414  97.27887237
  96.992534    90.47235431 119.31586469  88.09910065 148.09166321
 161.83015036 135.93224962 143.33553721 153.68152    166.1278477
 177.66686464 183.99329068 131.77720269 148.22131794 150.96613147
 153.47413257 199.32879745 133.15240059 140.62650622 218.70805932
 212.24561575 106.16912545 159.5732902  166.03494187 141.10533076
 128.88532652 123.45363911 109.91334696 172.49543688 163.79965026
 185.15571633 122.72767584 224.82290871 168.464121   158.22975124
 132.89012711 174.00427219 146.03613009 172.77987232 157.07081058
 132.88025855 177.7287447  174.93211063 191.67876824 161.23092726
 130.68752611 120.20578616 168.57152235 189.02493383 191.67099254
 213.62030882 214.94458065 143.09172916]
Standard Deviation Column wise
 [  0.77285486   0.80954291   1.11400363   0.27357229   3.33016976
  14.24230767   0.62409056   0.99604895   0.12410326   0.57074885
   2.31176466   0.22792861   0.70799326 314.02165684]

In [4]:
df.describe()

             Wine     Alcohol  Malic.acid  ...         Hue          OD      Proline
count  178.000000  178.000000  178.000000  ...  178.000000  178.000000   178.000000
mean     1.938202   13.000618    2.336348  ...    0.957449    2.611685   746.893258
std      0.775035    0.811827    1.117146  ...    0.228572    0.709990   314.907474
min      1.000000   11.030000    0.740000  ...    0.480000    1.270000   278.000000
25%      1.000000   12.362500    1.602500  ...    0.782500    1.937500   500.500000
50%      2.000000   13.050000    1.865000  ...    0.965000    2.780000   673.500000
75%      3.000000   13.677500    3.082500  ...    1.120000    3.170000   985.000000
max      3.000000   14.830000    5.800000  ...    1.710000    4.000000  1680.000000

[8 rows x 14 columns]

In [5]:
df.mean() #column wise mean

Wine                      1.938202
Alcohol                  13.000618
Malic.acid                2.336348
Ash                       2.366517
Acl                      19.494944
Mg                       99.741573
Phenols                   2.295112
Flavanoids                2.029270
Nonflavanoid.phenols      0.361854
Proanth                   1.590899
Color.int                 5.058090
Hue                       0.957449
OD                        2.611685
Proline                 746.893258
dtype: float64

In [11]:
df.mean(axis=1)     #row wise mean

0       89.000000
1       85.364286
2       95.915714
3      117.963571
4       64.977857
          ...
173     63.875714
174     65.124286
175     72.444286
176     72.640714
177     51.471429
Length: 178, dtype: float64

In [12]:
df.median() #column wise meadian

Wine                      2.000
Alcohol                  13.050
Malic.acid                1.865
Ash                       2.360
Acl                      19.500
Mg                       98.000
Phenols                   2.355
Flavanoids                2.135
Nonflavanoid.phenols      0.340
Proanth                   1.555
Color.int                 4.690
Hue                       0.965
OD                        2.780
Proline                 673.500
dtype: float64

In [13]:
df.median(axis=1)   #row wise median

0      2.930
1      2.705
2      2.990
3      3.470
4      2.835
       ...
173    2.725
174    2.740
175    2.630
176    2.480
177    2.870
Length: 178, dtype: float64

# **Part 2**

In [37]:
from scipy.stats import pearsonr
alcohol = df["Alcohol"]
proline = df["Proline"]

corr,_ = pearsonr(alcohol,proline)
print("Pearson coefficient of correlation is ",corr)

Pearson coefficient of correlation is  0.6437200371782135

In [38]:
df.head(1)

   Wine  Alcohol  Malic.acid   Ash  ...  Color.int   Hue    OD  Proline
0     1    14.23        1.71  2.43  ...       5.64  1.04  3.92     1065

[1 rows x 14 columns]

In [47]:
matrix_five = df[["Alcohol","Ash","Phenols","Hue","Flavanoids"]].to_numpy()
cov_mat = np.cov(matrix_five)
print(cov_mat)
print(np.amax(cov_mat))

[[28.91707  26.81805  26.168925 ... 28.700025 28.36559  30.205405]
 [26.81805  24.87855  24.256425 ... 26.62845  26.316475 28.02145 ]
 [26.168925 24.256425 23.70775  ... 25.922675 25.623425 27.292275]
 ...
 [28.700025 26.62845  25.922675 ... 29.2102   28.8998   30.793525]
 [28.36559  26.316475 25.623425 ... 28.8998   28.59563  30.474985]
 [30.205405 28.02145  27.292275 ... 30.793525 30.474985 32.49497 ]]
33.54192000000001